flows.json
[
    {
        "id": "dbe44866e8f260e3",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "263667bf75617be9",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e6934fa792d359d",
        "type": "tab",
        "label": "Flujo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cca3a75c4fbe546c",
        "type": "tab",
        "label": "Flujo 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7585d0f859f8cc62",
        "type": "inject",
        "z": "dbe44866e8f260e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e71ba804bd8be46c",
        "type": "debug",
        "z": "dbe44866e8f260e3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "2fa9722eb03874b6",
        "type": "complete",
        "z": "dbe44866e8f260e3",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "e71ba804bd8be46c"
            ]
        ]
    },
    {
        "id": "8b7226a614901f1f",
        "type": "file in",
        "z": "dbe44866e8f260e3",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "791374337cc8c924"
            ]
        ]
    },
    {
        "id": "791374337cc8c924",
        "type": "file",
        "z": "dbe44866e8f260e3",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 660,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8cc0de5d7c8b8289",
        "type": "file",
        "z": "dbe44866e8f260e3",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 340,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e93eabbb8a38ab1c",
        "type": "json",
        "z": "dbe44866e8f260e3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 210,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "016c29186e24661b",
        "type": "csv",
        "z": "dbe44866e8f260e3",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 530,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "525bfa6db5533027",
        "type": "batch",
        "z": "dbe44866e8f260e3",
        "name": "",
        "mode": "count",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "honourParts": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 670,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a1cbd38fb8802db2",
        "type": "file",
        "z": "dbe44866e8f260e3",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 520,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0cadd3a673759049",
        "type": "ui_slider",
        "z": "263667bf75617be9",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 310,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "84304fe2acf52d6c",
        "type": "ui_text_input",
        "z": "263667bf75617be9",
        "name": "",
        "label": "",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 260,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4cc92dde2a6e6cbb",
        "type": "ui_button",
        "z": "263667bf75617be9",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "382b63521eaeca0a",
        "type": "ui_colour_picker",
        "z": "263667bf75617be9",
        "name": "",
        "label": "",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 330,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9908f0b2a4bb046d",
        "type": "ui_date_picker",
        "z": "4e6934fa792d359d",
        "name": "",
        "label": "date",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 230,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d18fcd77913cf658",
        "type": "ui_dropdown",
        "z": "4e6934fa792d359d",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "value": "",
                "label": ""
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 280,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "73d73175087b1b4d",
        "type": "ui_audio",
        "z": "4e6934fa792d359d",
        "name": "",
        "voice": "",
        "always": "",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "f714e4fe6f33b273",
        "type": "link out",
        "z": "4e6934fa792d359d",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 325,
        "y": 500,
        "wires": []
    },
    {
        "id": "9ba5380f1e7856c3",
        "type": "function",
        "z": "4e6934fa792d359d",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1277dfcc18d56948",
        "type": "inject",
        "z": "cca3a75c4fbe546c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "dae152ae833cf54f"
            ]
        ]
    },
    {
        "id": "dae152ae833cf54f",
        "type": "debug",
        "z": "cca3a75c4fbe546c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    }
]